<div class="login-container">
    <div class="login-card">

        <h2>Bienvenido</h2>
        <p class="subtitle">Sistema de Control de Asistencia</p>

        <form [formGroup]="loginForm" (ngSubmit)="login()">

            <!-- USUARIO -->
            <div class="form-group">
                <input type="text" formControlName="usuario" placeholder="Usuario"
                    [class.invalid]="isInvalid('usuario')" />
                <span class="error" *ngIf="isInvalid('usuario')">
                    El usuario es obligatorio
                </span>
            </div>

            <!-- PASSWORD -->
            <div class="form-group">
                <input type="password" formControlName="password" placeholder="Contraseña"
                    [class.invalid]="isInvalid('password')" />
                <span class="error" *ngIf="isInvalid('password')">
                    La contraseña es obligatoria
                </span>
            </div>

            <button type="submit" class="btn-login" [disabled]="loginForm.invalid">
                Ingresar
            </button>

        </form>

    </div>
</div>