.sidebar {
    width: 240px;
    height: 100vh;
    background: #111827;
    color: #fff;
    padding: 1rem;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(0);
    transition: transform 0.3s ease;
}

.menu-btn {
    display: none;
    position: fixed;
    top: 1rem;
    left: 1rem;
    background: #111827;
    color: #fff;
    border: none;
    font-size: 1.5rem;
    z-index: 1000;
}


@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-100%);
    }

    .sidebar.open {
        transform: translateX(0);
    }

    .menu-btn {
        display: block;
    }
}


.logo {
    text-align: center;
    margin-bottom: 2rem;
}

nav a {
    display: block;
    padding: 0.75rem;
    color: #d1d5db;
    text-decoration: none;
    border-radius: 6px;
}

nav a:hover,
nav a.active {
    background: #1f2937;
    color: #fff;
}

.logout {
    margin-top: 2rem;
    width: 100%;
    padding: .5rem;
    background: #ef4444;
    border: none;
    color: #fff;
    cursor: pointer;
}